/.deps/
/.venv/
/venv/

/.pytest_cache/
/.pytest-tmp-*/
/.ruff_cache/
/.mypy_cache/
/.coverage
/coverage.xml
/htmlcov/

/data/
/dist/
/build/

.env
.env.*
!.env.example

**/__pycache__/
*.py[cod]
*.egg-info/
*.db-shm
*.db-wal

.idea/
.vscode/
Thumbs.db
Desktop.ini
*.orig
